/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #014370;
$body-color: #ffa75d;
$link-color: #c3ab8e;
$navbar-bg: #014370;



/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 22px;

.quarto-grid-item img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

#research-staff .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#research-staff .card {
  border-style: none;
  border: none;
}

#students .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#students .card {
  border-style: none;
  border: none;
}

#collaborators .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#collaborators .card {
  border-style: none;
  border: none;
}

.navbar {
  border-style: none !important;
  background: rgba(1, 67, 112, 0.7) !important; /* Adjust alpha for translucency */
  backdrop-filter: blur(5px); /* Applies blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
}