/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #ffecd4;
$body-color: #1b6799;
$link-color: #fc544a;
$navbar-bg: #ffecd4;


/* Fonts */
$font-size-root: 22px;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&display=swap');

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

body {
    font-family: "Alice", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#research-staff .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#research-staff .quarto-grid-item img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

#students .quarto-grid-item img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

#collaborators .quarto-grid-item img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

#research-staff .card {
  border-style: none;
  border: none;
}

#students .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#students .card {
  border-style: none;
  border: none;
}

#collaborators .quarto-grid-item img {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Keep it square for perfect circles */
    object-fit: cover; /* Ensures the image fills the circular frame */
}

#collaborators .card {
  border-style: none;
  border: none;
}

.navbar {
  border-style: none !important;
  background: rgba(255, 236, 212, 0.7) !important; /* Adjust alpha for translucency */
  backdrop-filter: blur(5px); /* Applies blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
}

#tutorials .card {
  border-style: none;
  border: none;
}

#publications .card {
  border-style: none;
  border: none;
}
